<div class="modal-header">
  <h4 class="modal-title">Carro</h4>
</div>
<!-- Modal body -->
<div class="modal-body" id="idClone">
  <form action="">
    <label for="exampleInputYear">Ano de Fabricação</label>
    <div class="form-group">
      <input
        type="number"
        class="form-control"
        id="exampleInputYear"
        placeholder="Ano de Fabricação"
      />
    </div>
    <label for="exampleInputLicensePlate">Placa do Carro</label>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        id="exampleInputModel"
        placeholder="Placa do Carro"
      />
    </div>
    <label for="exampleInputModel">Modelo do Carro</label>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        id="exampleInputModel"
        placeholder="Modelo do Carro"
      />
    </div>
    <label for="exampleInputColor">Cor do Carro</label>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        id="exampleInputColor"
        placeholder="Cor do Carro"
      />
    </div>
  </form>
</div>


